# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*





MONGO_URL=mongodb+srv://magnaibra1:Yakabir100@ibrahim1.ozfvgra.mongodb.net/ideapool
JWT_SECRET=ASDFGHJKL